* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



/* Home page */



/*  */
.image-container {
    border: 1px solid black;
    position: relative;
    width: 50%;
    max-width: 300px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    transition: .5s ease;
    opacity: 0;
}
.image-container:hover .overlay {
    opacity: 1;
}

/*  */
.edit-dropdown {
    position: relative;
    display: inline-block;
}

.edit-dropdown-btn {
}

.edit-dropdown-content {
    display: none;
    position: absolute;
    transition: .5s ease;
    z-index: 1;
}

.edit-dropdown:hover .edit-dropdown-content {
    display: block;
}